{% load mptt_tags %}

<a href="{% url 'login' %}">Войти|</a>

<a href="{% url 'registration' %}">Зарегестрироваться|</a>

<a href="{% url 'logout' %}">Выйти|</a>

<a href="{% url 'employees_list' %}">Список сотрудников</a>

<ul>
    {% recursetree employee %}
    <li>
        {{ node.name }}_____ Должность:
        {{ node.position }}
        {% if not node.is_leaf_node %}
        <ul class="children">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
</ul>